@charset "UTF-8";
@import url("./reset.css");
#wrap {
  width: 100%;
  height: 970px;
  display: flex;
  flex-flow: row wrap;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
}
#wrap #header {
  width: 200px;
  height: 850px;
  position: relative;
  z-index: 3;
}
#wrap #header .row1 {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 로고 : 워드 타입 */
}
#wrap #header .row1 h1 {
  width: 100%;
}
#wrap #header .row1 h1 a {
  font-size: 2.142857143rem;
  font-weight: 600;
  display: block;
  width: 100%;
  text-align: center;
}
#wrap #header .row1 h1 a span {
  color: rgba(25, 28, 29, 0.7);
}
#wrap #header .row1 h1 a em {
  color: rgba(200, 70, 100, 0.7);
}
#wrap #header .row1 .mobile-bnt-box {
  margin: 0 10px 0 auto;
  display: none;
  width: 28px;
  height: 18px;
}
#wrap #header .row1 .mobile-bnt-box a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#wrap #header .row1 .mobile-bnt-box a i {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  transition: all 0.6s ease-in-out;
}
#wrap #header .row1 .mobile-bnt-box a i.line1 {
  top: 0%;
}
#wrap #header .row1 .mobile-bnt-box a i.line2 {
  top: 50%;
  margin-top: -1px;
}
#wrap #header .row1 .mobile-bnt-box a i.line3 {
  bottom: 0%;
}
#wrap #header .row1 .mobile-bnt-box a.on i.line1 {
  top: 50%;
  margin-top: -1px;
  transform: rotate(-45deg);
}
#wrap #header .row1 .mobile-bnt-box a.on i.line2 {
  left: 150%;
}
#wrap #header .row1 .mobile-bnt-box a.on i.line3 {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(45deg);
}
#wrap #header .row2 {
  width: 100%;
  height: auto;
  background: rgb(70, 150, 200);
}
#wrap #header .row2 #nav {
  width: 100%;
}
#wrap #header .row2 #nav > ul {
  width: 100%;
}
#wrap #header .row2 #nav > ul > li {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  position: relative;
}
#wrap #header .row2 #nav > ul > li:last-child {
  border-bottom: 0;
}
#wrap #header .row2 #nav > ul > li:hover {
  background: rgb(50, 170, 240);
}
#wrap #header .row2 #nav > ul > li > a {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.142857143rem;
  font-weight: 600;
  color: #fff;
}
#wrap #header .row2 #nav > ul > li > .sub {
  position: absolute;
  top: 0;
  left: 100%;
  width: calc(100vw - 17px - 190px); /* Viewport width vw 반응형 */
  background: rgb(50, 170, 240);
}
#wrap #header .row2 #nav > ul > li > .sub ul {
  width: 100%;
  padding: 30px 20px;
}
#wrap #header .row2 #nav > ul > li > .sub ul li {
  width: 100%;
  padding: 10px 0;
  display: flex;
}
#wrap #header .row2 #nav > ul > li > .sub ul li span {
  width: 110px;
}
#wrap #header .row2 #nav > ul > li > .sub ul li span a {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background: rgb(50, 170, 240);
  padding: 6px 10px;
}
#wrap #header .row2 #nav > ul > li > .sub ul li span a:hover {
  background: rgb(70, 150, 200);
}
@media all and (max-width: 1100px) {
  #wrap #header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    transition: top 0.6s ease-in-out;
  }
  #wrap #header.up {
    top: -100px;
  }
  #wrap #header .row1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto 0 0;
    /* 로고 : 워드 타입 */
  }
  #wrap #header .row1 h1 {
    width: auto;
    padding-left: 10px;
  }
  #wrap #header .row1 h1 a {
    font-size: 1.857142857rem;
    text-align: left;
  }
  #wrap #header .row1 .mobile-bnt-box {
    display: block;
  }
  #wrap #header .row2 {
    position: absolute;
    top: 70px;
    left: 100%;
    display: block;
    height: calc(100vh - 70px);
    overflow-y: auto;
    animation: mobile_off 0.3s both;
  }
  @keyframes mobile_off {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }
  #wrap #header .row2.on {
    animation: mobile_on 0.3s both;
  }
  @keyframes mobile_on {
    0% {
      left: 100%;
    }
    100% {
      left: 0%;
    }
  }
  #wrap #header .row2 #nav {
    padding: 10px 0;
  }
  #wrap #header .row2 #nav > ul > li:nth-last-child(1) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  #wrap #header .row2 #nav > ul > li > .sub {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(50, 170, 240);
    display: none;
  }
  #wrap #header .row2 #nav > ul > li > .sub ul {
    padding: 10px 20px;
  }
  #wrap #header .row2 #nav > ul > li > .sub ul li {
    width: 100%;
    padding: 10px 0;
    display: flex;
  }
  #wrap #header .row2 #nav > ul > li > .sub ul li span {
    width: 110px;
  }
  #wrap #header .row2 #nav > ul > li > .sub ul li span a {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background: rgb(50, 170, 240);
    padding: 6px 10px;
  }
  #wrap #header .row2 #nav > ul > li > .sub ul li span a:hover {
    background: rgb(70, 150, 200);
  }
}
@media all and (max-width: 600px) {
  #wrap #header .row1 h1 a {
    font-size: 1.785714286rem;
  }
  #wrap #header .row2 #nav > ul > li > .sub ul li span {
    width: auto;
  }
  #wrap #header .row2 #nav > ul > li > .sub ul li span a {
    padding: 6px 10px;
  }
}
#wrap #main {
  width: calc(100% - 200px);
  height: 850px;
  position: relative;
  z-index: 2;
}
#wrap #main #section1 {
  width: 100%;
  height: 400px;
  position: relative;
  /* 메인슬라이드 */
  /* 바로가기 */
}
#wrap #main #section1 .slide-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  cursor: grab;
}
#wrap #main #section1 .slide-container .slide-view {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap {
  width: 500%;
  height: 100%;
  display: flex;
  margin-left: -100%;
  transform: translateX(0px);
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  position: relative;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide a h2 {
  z-index: 2;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  margin-top: -14px;
  display: flex;
  justify-content: center;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide a h2 span {
  font-size: 2rem;
  font-weight: 500;
  background: rgba(90, 150, 40, 0.7);
  color: rgb(255, 255, 255);
  padding: 17px 30px 14px 30px;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#wrap #main #section1 .link {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
}
#wrap #main #section1 .link ul {
  padding: 10px 10px;
  width: 100%;
}
#wrap #main #section1 .link ul li {
  width: 100%;
}
#wrap #main #section1 .link ul li a {
  width: 100%;
  display: block;
}
#wrap #main #section1 .link ul li a img {
  width: 100%;
  transition: all 0.3s;
}
#wrap #main #section1 .link ul li a img:hover {
  opacity: 0.7;
}
#wrap #main #section1 .link ul li i {
  width: 100%;
  display: block;
  padding: 5px 0;
}
#wrap #main #section1 .page-btn-box {
  z-index: 2;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -58.5px;
  width: 117px;
  background: transparent;
  display: flex;
  justify-content: center;
}
#wrap #main #section1 .page-btn-box span a {
  display: inline-flex;
  width: 25px;
  height: 25px;
  background: transparent;
  margin: 0 7px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
#wrap #main #section1 .page-btn-box span a::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  transition: all 0.6s ease-in-out;
}
#wrap #main #section1 .page-btn-box span a.on::before {
  box-sizing: border-box;
  border: 3px solid rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
}
@media all and (max-width: 1100px) {
  #wrap #main #section1 {
    height: auto;
  }
  #wrap #main #section1 .slide-container {
    height: calc(100vh - 70px);
  }
  #wrap #main #section1 .link {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background: rgb(255, 255, 255);
    padding: 10px 10px 0 10px;
  }
  #wrap #main #section1 .link ul {
    padding: 0;
    width: 100%;
    display: flex;
  }
  #wrap #main #section1 .link ul li {
    width: 33.33%;
  }
  #wrap #main #section1 .link ul li:nth-child(even) {
    width: 10px;
  }
  #wrap #main #section1 .link ul li a {
    width: 100%;
    display: block;
  }
  #wrap #main #section1 .link ul li a img {
    width: 100%;
    transition: all 0.3s;
  }
  #wrap #main #section1 .link ul li a img:hover {
    opacity: 0.7;
  }
  #wrap #main #section1 .link ul li i {
    width: 100%;
    display: block;
    padding: 0;
  }
}
@media all and (max-width: 600px) {
  #wrap #main #section1 .slide-container .slide-view .slide-wrap .slide a h2 span {
    font-size: 1.428571429rem;
  }
}
#wrap #main #section2 {
  width: 100%;
  height: 200px;
  padding: 10px;
}
#wrap #main #section2 .container {
  width: 100%;
  height: 100%;
}
#wrap #main #section2 .container a {
  display: flex;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  align-items: center;
  justify-content: center;
  position: relative;
}
#wrap #main #section2 .container a .content {
  display: flex;
  width: 80%;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
}
#wrap #main #section2 .container a .content .col1 {
  width: 150px;
}
#wrap #main #section2 .container a .content .col1 img {
  width: 100%;
  transition: 0.3s;
}
#wrap #main #section2 .container a .content .col2 {
  width: calc(100% - 150px);
  padding-left: 30px;
}
#wrap #main #section2 .container a .content .col2 h2 {
  font-size: 1.428571429rem;
  font-weight: 600;
  color: #222;
  padding-bottom: 10px;
}
#wrap #main #section2 .container a .content .col2 p {
  line-height: 140%;
  padding-right: 130px;
}
#wrap #main #section2 .container a:hover .content .col1 img {
  opacity: 0.8;
}
#wrap #main #section2 .container a .arrow-btn {
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 13%;
  width: 50px;
  height: 10px;
  background: #000;
  /* border: 1px solid #000; */
  margin-top: -5px;
  border-radius: 5px;
  transform-origin: calc(100% - 5px) 50%; /*  수평 0 좌측시작  50% 가운데  100% 끝  수직 0% 바톰  50% 가운데  100%  탑*/
}
#wrap #main #section2 .container a .arrow-btn.btn1 {
  transform: rotate(45deg);
}
#wrap #main #section2 .container a .arrow-btn.btn2 {
  transform: rotate(-45deg);
}
@media all and (max-width: 1100px) {
  #wrap #main #section2 {
    height: auto;
  }
  #wrap #main #section2 .container a {
    padding: 40px 20px;
  }
  #wrap #main #section2 .container a .content {
    width: 100%;
  }
  #wrap #main #section2 .container a .arrow-btn {
    right: 2%;
  }
}
@media all and (max-width: 900px) {
  #wrap #main #section2 .container a .content .col2 p {
    padding-right: 10px;
  }
  #wrap #main #section2 .container a .arrow-btn {
    display: none;
  }
}
@media all and (max-width: 600px) {
  #wrap #main #section2 .container a .content {
    display: block;
    width: 100%;
  }
  #wrap #main #section2 .container a .content .col1 {
    width: 150px;
    margin: 0 auto;
  }
  #wrap #main #section2 .container a .content .col2 {
    padding-top: 30px;
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
}
#wrap #main #section3 {
  width: 100%;
  height: 250px;
  padding: 10px;
  border-top: 1px solid #ddd;
}
#wrap #main #section3 .container {
  width: 100%;
  height: 100%;
  padding-top: 45px;
  position: relative;
}
#wrap #main #section3 .container button {
  height: 46px;
  width: 100px;
  position: absolute;
  top: 0;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  font-size: 1.142857143rem;
}
#wrap #main #section3 .container button.notice-btn {
  border-bottom: 0;
  left: 10px;
  background: #fff;
  z-index: 3;
  cursor: default;
}
#wrap #main #section3 .container button.notice-btn.on {
  background: #eee;
  z-index: 1;
  cursor: pointer;
}
#wrap #main #section3 .container button.gallery-btn {
  left: 110px;
  background: #eee;
  cursor: pointer;
  z-index: 1;
}
#wrap #main #section3 .container button.gallery-btn.on {
  border-bottom: 0;
  background: #fff;
  z-index: 3;
  cursor: default;
}
#wrap #main #section3 .container .notice-box {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  position: relative;
  z-index: 2;
  padding: 20px 50px;
  display: flex;
  align-items: center;
}
#wrap #main #section3 .container .notice-box.on {
  display: none;
}
#wrap #main #section3 .container .notice-box ul {
  width: 100%;
}
#wrap #main #section3 .container .notice-box ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 200%;
}
#wrap #main #section3 .container .notice-box ul li a {
  width: calc(100% - 150px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#wrap #main #section3 .container .notice-box ul li a:hover {
  text-decoration: underline;
}
#wrap #main #section3 .container .notice-box ul li span {
  width: 100px;
  color: #999;
  text-align: right;
}
@media all and (max-width: 1100px) {
  #wrap #main #section3 .container .notice-box {
    padding: 20px 30px;
  }
  #wrap #main #section3 .container .notice-box li a {
    width: calc(100% - 100px);
  }
}
@media all and (max-width: 600px) {
  #wrap #main #section3 .container .notice-box ul li a {
    width: 100%;
  }
  #wrap #main #section3 .container .notice-box ul li span {
    display: none;
  }
}
@media all and (max-width: 480px) {
  #wrap #main #section3 .container .notice-box {
    padding: 20px 5px 20px 20px;
  }
  #wrap #main #section3 .container .notice-box ul li a {
    width: 100%;
  }
  #wrap #main #section3 .container .notice-box ul li span {
    display: none;
  }
}
#wrap #main #section3 .container .gallery-box {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  display: none;
}
#wrap #main #section3 .container .gallery-box.on {
  display: flex;
}
#wrap #main #section3 .container .gallery-box ul {
  display: flex;
  width: 100%;
  padding: 20px 0;
}
#wrap #main #section3 .container .gallery-box ul li {
  width: 33.333%;
}
#wrap #main #section3 .container .gallery-box ul li a {
  margin: 0 7%;
  display: block;
  width: auto;
}
#wrap #main #section3 .container .gallery-box ul li a img {
  width: 100%;
  transition: all 0.3s;
}
#wrap #main #section3 .container .gallery-box ul li a img:hover {
  opacity: 0.7;
}
@media all and (max-width: 400px) {
  #wrap #main #section3 .container .gallery-box ul {
    flex-flow: row wrap;
  }
  #wrap #main #section3 .container .gallery-box ul li {
    width: 100%;
  }
  #wrap #main #section3 .container .gallery-box ul li a {
    margin: 5px 15px 5px 20px;
  }
}
@media all and (max-width: 1100px) {
  #wrap #main {
    width: 100%;
    height: auto;
    margin-top: 70px;
  }
  #wrap #main.up {
    margin-top: 0;
  }
  #wrap #main #section3 {
    height: auto;
  }
}
#wrap #footer {
  width: 100%;
  height: 120px;
  display: flex;
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.06);
  border-top: 1px solid #ccc;
}
#wrap #footer .col1 {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap #footer .col1 h1 {
  width: 100%;
}
#wrap #footer .col1 h1 a {
  font-size: 2.142857143rem;
  font-weight: 600;
  display: block;
  width: 100%;
  text-align: center;
}
#wrap #footer .col1 h1 a span {
  color: rgba(0, 0, 0, 0.2);
}
#wrap #footer .col1 h1 a em {
  color: rgba(0, 0, 0, 0.2);
}
#wrap #footer .col2 {
  width: calc(100% - 200px);
  height: 100%;
  padding-left: 40px;
}
#wrap #footer .col2 .row1 {
  width: 100%;
  height: auto;
  padding: 15px 0;
}
#wrap #footer .col2 .row1 a {
  color: #666;
  font-size: 1rem; /* 반응형 root 글자크기의 1배수 */
  letter-spacing: -1px;
}
#wrap #footer .col2 .row1 i {
  margin: 10px 0;
  color: #ccc;
  font-size: 1rem;
}
#wrap #footer .col2 .row2 {
  width: 100%;
  height: auto;
}
#wrap #footer .col2 .row2 .contents {
  padding-top: 10px;
  line-height: 160%;
}
#wrap #footer .col2 .row2 .contents address,
#wrap #footer .col2 .row2 .contents p {
  color: #666;
  font-size: 0.928571429rem;
}
@media all and (max-width: 1100px) {
  #wrap #footer {
    height: auto;
    flex-flow: row wrap;
    padding: 40px 20px;
    text-align: center;
  }
  #wrap #footer .col1 {
    width: 100%;
    height: auto;
    padding: 10px 0;
  }
  #wrap #footer .col1 h1 a {
    font-size: 2.142857143rem;
  }
  #wrap #footer .col2 {
    width: 100%;
    height: auto;
    padding: 10px 30px;
  }
  #wrap #footer .col2 .row1 {
    width: 100%;
    height: auto;
    padding: 15px 0;
    line-height: 120%;
  }
}
@media all and (max-width: 600px) {
  #wrap #footer {
    padding: 40px 0px;
  }
  #wrap #footer .col1 h1 a {
    font-size: 1.785714286rem;
  }
}
#wrap .layer-popup {
  z-index: 4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
}
#wrap .layer-popup.on {
  display: flex;
}
#wrap .layer-popup .container {
  width: 600px;
  height: auto;
  background: #fff;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
}
#wrap .layer-popup .container .title {
  width: 100%;
  border-bottom: 2px solid #444;
  display: flex;
  justify-content: space-between;
}
#wrap .layer-popup .container .title h2 {
  font-size: 1.428571429rem;
  font-weight: 600;
  color: #222;
  text-transform: uppercase;
  padding-bottom: 20px;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#wrap .layer-popup .container .title span {
  font-size: 13px;
  margin: auto 0 20px 0;
}
#wrap .layer-popup .container .content {
  width: 100%;
  padding: 30px 0 30px 0;
  border-bottom: 1px solid #ccc;
}
#wrap .layer-popup .container .content ul {
  width: 100%;
}
#wrap .layer-popup .container .content ul li {
  font-size: 1rem;
  line-height: 170%;
  padding: 10px 0;
}
#wrap .layer-popup .container .button-box {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#wrap .layer-popup .container .button-box button {
  width: 100px;
  height: 40px;
  border: 0;
  background: #ccc;
  font-size: 1.142857143rem;
  cursor: pointer;
  border-radius: 3px;
}
#wrap .layer-popup .container .button-box label input[type=checkbox] {
  width: 17px;
  height: 17px;
}
#wrap .layer-popup .container .button-box label span {
  font-size: 13px;
  margin-left: 5px;
}

@media all and (max-width: 1100px) {
  #wrap {
    height: auto;
    display: block;
    flex-flow: row nowrap;
  }
}